#! /bin/bash
hostnamectl set-hostname awx.${aws_eip.awx.public_ip}.nip.io
#######################################################################################
# Install ansible dependencies
#######################################################################################
apt-get update
apt-get install -y python3-pip python-pip
pip3 install ansible ansible-tower-cli
pip2 install docker docker-compose
#######################################################################################
# Prepare AWX install
#######################################################################################
git clone https://github.com/JonTheNiceGuy/Install_AWX_And_Configure_It /tmp/build_playbook
cd /tmp/build_playbook
echo "${data.local_file.secrets.content}" > secrets.yml
echo "${data.local_file.config.content}" > run.json
mkdir /root/awx_build
echo "#!/bin/bash" > /root/awx_build/creds
echo "export AWX_Hostname=$(hostname)" >> /root/awx_build/creds
echo "export AWX_Password=\"${var.admin_password}\"" >> /root/awx_build/creds
echo "echo \"${var.VaultFile}\" > /tmp/build_playbook/vaultfile" >> /root/awx_build/creds
echo "echo \"{
  'ansible_fqdn':'$(hostname)',
  'admin_password':'${var.admin_password}'
}\" > /tmp/build_playbook/extra.json" >> /root/awx_build/creds
echo '$*' >> /root/awx_build/creds
chmod +x /root/awx_build/creds
/root/awx_build/creds ansible-playbook prepare_awx_install.yml -e "@/tmp/build_playbook/extra.json"
#######################################################################################
# Run AWX Install
#######################################################################################
cd /opt/awx/installer
ansible-playbook -i inventory install.yml
#######################################################################################
# Perform post-config of AWX
#######################################################################################
cd /tmp/build_playbook
/root/awx_build/creds bash ./run.sh
rm vaultfile
rm extra.json